<section class="consulta" [class.hasPadding]="hasIndex()" aria-labelledby="consulta-title">
  <div class="consulta__header">
    <h2 id="consulta-title" class="consulta__title">Pesquisa das Unidades</h2>
    @if (mostrarToggle()) {
      <button
        type="button"
        class="consulta__toggle"
        (click)="fechar.emit()"
        aria-label="Fechar pesquisa avançada"
      >
        <i class="pi pi-chevron-up" aria-hidden="true"></i>
      </button>
    }
  </div>
  <p class="consulta__subtitle">Utilize nossa pesquisa e encontre a Unidade que mais atenda sua demanda junto ao Poder Judiciário da Bahia.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="consulta__form">
    <div class="consulta__field">
      <p-floatlabel class="consulta__floatlabel" variant="on">
        <input
          pInputText
          id="pesquisa-termo"
          type="text"
          class="consulta__input"
          placeholder="Ex: Fórum Ruy Barbosa"
          formControlName="termo"
          aria-label="Pesquisar unidade"
        />
        <label for="pesquisa-termo">Palavra-chave</label>
      </p-floatlabel>
    </div>

    <fieldset class="consulta__fieldset">
      <legend class="consulta__legend">Áreas de interesse:</legend>
      <div class="consulta__options">
        @for (area of areas; track area.value) {
          <div class="consulta__option">
            <p-checkbox
              inputId="area-{{ area.value }}"
              [value]="area.value"
              formControlName="areas"
            />
            <label [attr.for]="'area-' + area.value">{{ area.label }}</label>
          </div>
        }
      </div>
    </fieldset>

    <fieldset class="consulta__fieldset consulta__fieldset--inline">
      <legend class="consulta__legend">Localidade:</legend>
      <div class="consulta__options consulta__options--inline">
        @for (loc of localidades; track loc.value) {
          <div class="consulta__option">
            <p-checkbox
              inputId="loc-{{ loc.value }}"
              [value]="loc.value"
              formControlName="localidades"
            />
            <label [attr.for]="'loc-' + loc.value">{{ loc.label }}</label>
          </div>
        }
      </div>
    </fieldset>

    <div class="consulta__field">
      <p-floatlabel class="consulta__floatlabel" variant="on">
        <p-autoComplete
          inputId="comarca-select"
          formControlName="comarca"
          [suggestions]="comarcasSugestoes"
          (completeMethod)="filtrarComarcas($event)"
          optionLabel="nome"
          placeholder="Selecione a Comarca"
          [dropdown]="true"
          [forceSelection]="true"
          appendTo="body"
          styleClass="w-full"
        />
        <label for="comarca-select">Comarca</label>
      </p-floatlabel>
    </div>

    <div class="consulta__field">
      <p-floatlabel class="consulta__floatlabel" variant="on">
        <p-autoComplete
          inputId="unidade-select"
          formControlName="unidade"
          [suggestions]="unidadesSugestoes"
          (completeMethod)="filtrarUnidades($event)"
          optionLabel="nome"
          placeholder="Selecione a Unidade"
          [dropdown]="true"
          [forceSelection]="true"
          appendTo="body"
          styleClass="w-full"
        />
        <label for="unidade-select">Unidade</label>
      </p-floatlabel>
    </div>

    <div class="consulta__footer">
      <button
        type="button"
        pButton
        label="Limpar Pesquisa"
        class="consulta__clear"
        [outlined]="true"
        (click)="onLimpar()"
      ></button>
      <button
        type="submit"
        pButton
        label="Pesquisar"
        class="consulta__submit"
      ></button>
    </div>
  </form>
</section>
